.ratingComments {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
}

.ratingComments ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#rating-container {
    margin-top: 20px;
}

#rating-container input,
#rating-container textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

#previous-ratings {
    list-style-type: none;
    padding: 0;
}

#previous-ratings li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.header {
    background-color: #333;
    background-image: url(img/Logo.png);
    background-size: auto 50px;
    background-position: 32px;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    height: 80px;
}

.screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}