* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.header {
    background-color: #333;
    background-image: url(img/Logo.png);
    background-size: auto 50px;
    background-position: 32px;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    height: 80px;
    justify-content: flex-end;
}

h1 {
    display: flex;
    top: -50%;
    justify-content: center;
    align-items: center;
    padding-right: 32px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 96px;
    color: black;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 60px;
}

h3 {
    margin: 0;
    padding-bottom: 16px;
    font-size: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;   
    padding: 8px;
}

.cart-section {
    height: 400px;
    width: 250px;
    border-left: 1px solid #ddd;
    padding-left: 10px;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}

#table-container,
#drink-table-container {
    margin: 20px 0;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 0;
    margin-top: 10px;
}

.table-header {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 10;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.order-button,
.basketButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.order-button:hover,
.basketButton:hover {
    background-color: #45a049;
}

#cart-list {
    margin: 10px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.order-button-container {
    display: flex;
    justify-content: flex-end;
}

.orButton {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.orderList {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.mainBackground {
    background-image: url(./img/Pizza-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

nav {
    padding: 64px;
}

button {
    height: 48px;
}

.BestellbudeLogo {
    height: 150px;
    width: auto;
    border-radius: 80%;
}

.companyName {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nameAndLogo {
    height: 160px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50% left -50%;
}

.shopping-cart-img div {
    display: block;
    height: 100%;
}

.table-container-food {
    display: none;
}

.table-container-food.visible {
    display: block;
}

.shopping-cart-img div img {
    height: 100%;
    width: auto;
}

#home .order-basket-button {
    display: none;
}


@media (max-width: 1235px) {
    .cart-section {
        max-height: none;
        width: 640px;
        border: none;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 850px) {
    h1 {
        font-size: 64px;
    }

    img.BestellbudeLogo {
        height: 120px;
    }

    h2 {
        font-size: 18px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav button {
        width: 310px;
    }

    header {
        height: 80px;
    }

    .table-container {
        width: 90%;
    }

    .sreenMediaQuery {
        overflow-y: scroll;
    }

    .cart-section {
        width: 70%;
        border-left: none;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 64px;
        margin-top: 20px;
        height: auto;
    }

    .table-container {
        max-height: none;
        position: sticky;
    }

    html,
    body {
        overflow: hidden;
        height: 100%;
    }

    .cart-section {
        overflow: hidden;
    }

    .nameAndLogo {
        position: fixed;
        z-index: 10;
    }

    .footer {
        position: none;
    }
}


@media (max-width: 540px) {
    tr td:nth-child(2) {
        display: none;
    }

    th:nth-child(2) {
        display: none;
    }

    .table-container {
        width: 310px;
        font-size: 12px;
    }

    h1 {
        font-size: 48px;
    }

    img.BestellbudeLogo {
        height: 80px;
    }

    h2 {
        font-size: 16px;
    }

    ul#cart-list {
        font-size: 12px;
    }

}